@media (min-width: 768px) {
	.sticky {
		display: flex;
		position: sticky;
		top: 0;
		background-color: $primary-color;
		align-items: center;
	}
	#header {
		display: flex;
		align-items: center;
		width: 50%;
		height: auto;
	}
	#header-img {
		padding-left: 2rem;
	}

	.nav-bar {
		width: 50vw;
		height: auto;
	}
}

@media (min-width: 768px) {
	Section .home-background {
		padding-top: 2rem;
		padding-left: 0.2rem;
		grid-template-columns: 50% 50%;
		align-content: center;
		line-height: 1.9rem;
		font-size: medium;

		.block {
			width: 100%;
			height: 8rem;
		}
	}
}

@media (min-width: 768px) {
	section .video-background {
		@include sectionblock(100vh, $primary-color);
	}
	.video {
		width: 60%;
		height: 100%;
		padding-top: 5rem;
		margin: auto;
	}
}

@media (min-width: 768px) {
	section .about-background {
		height: 100%;
	}
	.grid-container {
		display: grid;
		grid-template-columns: 50% 50%;
		place-items: center;
		margin-bottom: 5rem;
		gap: 1rem;
	}
}

@media (min-width: 1024px) {
	Section .home-background {
		font-size: larger;
	}
	section .about-background {
		height: 70vh;
	}
	.grid-container {
		display: grid;
		grid-auto-flow: column;
		margin: 0 10rem 0 10rem;
	}
	.split:nth-child(1) {
		border-right: 1px solid $font-color-primary;
	}
	.split {
		margin-top: 5rem;
	}
}
