button {
	width: 5rem;
	height: 2rem;
	text-transform: uppercase;
	font-weight: 700;
	background-color: white;
	color: $primary-color;
	border: none;
	cursor: pointer;
	position: relative;
	transition: 0.2s, transform 300ms;

	&:hover {
		transform: scale(1.05);
		background-color: #e1e1e1;
	}
}
