// Navigation bar

.sticky {
	position: sticky;
	top: 0;
}

#header {
	@include header(1rem, 0.5rem);
	text-align: center;
	height: auto;
	letter-spacing: 0.2rem;
}
#header-img {
	width: 10vmin;
}

.nav-bar {
	@include header(0.5rem, 0.5rem);
	position: sticky;
	top: 0;

	ul {
		display: flex;
		list-style: none;
		justify-content: space-around;
		padding: 0 2rem 0 2rem;

		a {
			color: $font-color-primary;
			text-decoration: none;
		}
	}
}
